* {
  box-sizing: border-box;
}
  body, html {
  margin: 0 auto;
  padding: 0;
}
:root {
    --bs-white-rgb: 255, 255, 255;
    --bs-primary-rgb: 244, 98, 58;
    --bs-dark-rgb: 33, 37, 41;
    --bs-light-rgb: 248, 249, 250;
    --bs-navbar-color: rgba(0, 0, 0, 0.55);
    --bs-body-font-family: Merriweather, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;


}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar{
  /* position: relative;
  display: flex; 
  flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  /* --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x); */


  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  /* transition: background-color 0.2s ease; */

  /* margin: 0;
  padding: 0;

  position: fixed;
  left: 0;
  right: 0;
  max-width: 100% !important;
  display: block; */


}


/* .navbar > .container,{
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
} */

.navbar-nav{
  /* ul */
  /* display: flex;
  flex-direction: column; */
    list-style-type: none;
    padding-left: 0;
    /* margin-bottom: 0; */
    overflow: hidden;

}

.navbar-nav li{
  float: right;

}

.navbar-nav li a {
    color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #212529;   
    display: block;
 
  }

  /* .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row;
  }
   */

.navbar-brand{
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    /* font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color); */
    text-decoration: none;
    white-space: nowrap;
    float: left !important;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    /* color: #212529; */
}

/* .navbar .navbar-brand {
    
  } */

.nav-item {
    color: #6c757d;
  font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  font-size: 0.9rem;
  /* padding: 0.75rem 0; */


  }


  .navbar .icon {
    display: none;
  }
  /* .nav-item{
    color: var(--bs-nav-tabs-link-active-color);
    background-color: var(--bs-nav-tabs-link-active-bg);
    border-color: var(--bs-nav-tabs-link-active-border-color);
    
  } */
  
/* .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  } */

  /* #mainNav.navbar-shrink .navbar-brand {
    color: #212529;
  } */

  /* .collapse:not(.show) {
    display: none;
  } */

  /* .navbar-text {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: var(--bs-navbar-color);
  } */

  .fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

.ms-auto {
    margin-left: auto !important;
}


  /* .py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  } */


  .container-fluid{
  /* --bs-gutter-x: 1.5rem; */
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.img-fluid {
    max-width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }

  /* .portfolio-box{
    
  } */

  .p-0 {
    padding: 0 !important;
  }

  .g-0{
    /* --bs-gutter-x: 0;
    --bs-gutter-y: 0; */
    /* display: flex; */

    row-gap: 0px !important;
    column-gap: 0px !important;
    grid-gap: 0px 0px !important;
    grid-row-gap: 0px;   

  }

  .h-100 {
    height: 100% !important;
  }

  .row {

    /* --bs-gutter-x: 1.5rem; */
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  /* .align-self-end {
    align-self: flex-end !important;
  } */

.text-center {
    text-align: center !important;
}

.text-white{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75) !important;
  }

  header.masthead {
    padding-top: 10rem;

    height: 100vh;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
  }

  
h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }
  
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem;
    }
  }
  
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem;
    }
  }

  .btn{
    background-color: #e44413; 
    border: none;
    color: white;
    padding: 15px 32px;
    justify-content: center;
    align-items: center;

    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    left: 50%;
    --bs-btn-font-family: Merriweather Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);

    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    
    text-align: center;
    text-align: center;
  text-decoration: none;
  vertical-align: middle;

  }

  .align-items-center {
    align-items: center !important;
  }

  .justify-content-center {
    justify-content: center !important;
  }

  /* .align-self-baseline {
    align-self: baseline !important;
  } */

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

  /* .mt-0 {
    margin-top: 0 !important;
  } */
  
  .page-section {
    padding: 8rem 0;
  }

  /* .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }

  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  } */

  .btn-light {
    color: #000;
    background-color: #f8f9fa;
  }
  
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  /* .container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
  } */

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .form-floating {
    position: relative;
  }

  /* form-floating > label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 0.75rem;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  } */

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    /* -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; */
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .d-grid {
    display: grid !important;
  }

  .mb-3 {
    margin-bottom: 1rem !important;
  }

  .mb-5 {
    margin-bottom: 3rem !important;
  }

  .g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
  }

  .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }

  @media only screen and (max-width: 425px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
      font-size: 20px;

    }
  }


@media only screen and (min-width: 426px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

}

  /* For desktop: */
/* .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {
  flex: 0 0 auto;
  width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {
  flex: 0 0 auto;
  width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {
  flex: 0 0 auto;
  width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */



@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {
    flex: 0 0 auto;
    width: 25%;}
  .col-4 {
    /* flex: 0 0 auto; */
    width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {
    /* flex: 0 0 auto; */
    width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {
    /* flex: 0 0 auto; */
    width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

/* @media only screen and (min-width: 600px) {

.icon {
  display: none;
}
} */


@media only screen and (max-width: 600px) {
  .navbar .icon {
    float: right;
    display: block;
    position: absolute;
    right: 0;
    /* top: 0; */
    /* float: none; */
    /* text-align: left; */
  }
  .collapse {display: none;}
  
}
